/*
 General
 */

body {
  font-family: Lora;
  padding: 0;
  margin: 0;
  border: 0;
  background-image: url('bg.jpg');
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  margin: 0;
}

/*
 Buttons
 */

.general-button {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color:#f9f9f9;
  border-radius:5px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-size:12px;
  font-weight:bold;
  padding:6px 18px;
  text-decoration:none;
  margin: 5px;
}

.general-button:hover {
  background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color:#e9e9e9;
}

/*
 Lists
 */

.gen-list {
  margin: 10px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  transition: font-size 0.3s ease;
  display: flex;
}

.gen-list:last-child {
  border: none;
}

.gen-list:hover {
  font-size: 22px;
  cursor: pointer;
}

/*
 Title
 */

.title-bar {
  background-color: lightgray;
  background-image: url('marble.jpg');
  background-size: cover;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.website-title {
  margin-left: 20px;
  color: black;
  font-family: 'Source Sans Pro';
  font-size: 40px;
  text-decoration: none;
}

.website-title:visited {
  color: black;
}

/*
 About Page
 */

.information {
  background: lightgray;
  background-image: url('splash.jpg');
  background-position: 25% 25%;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 24px;
}

.information a:visited {
  color: white;
}

.information-text {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 1px;
}

.login-signup-button {
  color: white;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.login-signup-button li {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.login-signup-button li:hover {
  background-color: gray;
}

.faq {
  position: absolute;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
  top: 600px;
  height: 100px;
}

.faq-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.faq-list li {
  margin: 10px;
}

/*
 Navbar
 */

.navbar {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #021e4c;
  height: 50px;
  position: absolute;
  top: 100px;
  width: 100%;
}

.navbar > li > a {
  color: white;
  margin: 0 15px;
}

.navbar > li > a:hover {
  color: lightblue;
}

/*
 Login/Signup Page
 */

.login-signup-box {
  margin: 10% auto;
  background-color: white;
  width: 40%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-signup-form > * {
  margin: 5px;
}

/*
 Home Page
 */

.home-box {
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 175px;
}

.another-button {
  position: absolute;
  top: 27%;
}

#search input[type="text"] {
  border: 1px solid #d1d1d1;
  color: #bebebe;
  width: 150px;
  padding: 6px 15px 6px 35px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  transition: all 1s ease 0s;
}

#search input[type="text"]:focus {
  width: 200px;
  outline: 0;
}

.pic-drop-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pic-drop {
  position: absolute;
  top: 300px;
  transition: all 1s ease 0s;
  background-image: url('pic.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  height: 200px;
  border: 2.5px dashed;
}

.pic-drop:hover {
  background-color: rgba(18, 115, 226, 0.25);
  border-color: rgb(18, 115, 226);
  cursor: pointer;
}

.pic-drop-text {
  text-align: center;
}

.found-image {
  height: 300px;
  border-radius: 10px;
  margin: 10px;
}

.image-wordlist {
  position: absolute;
  top: 35%;
  display: flex;
  flex-direction: row;
}

/*
 Library
 */

.library-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.library-box {
  position: absolute;
  top: 25%;
  margin-left: 5%;
}


/*
 Word Details
 */

.word-details-box {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.word-details-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.word-details-button {
  margin-left: 20px;
}

.original-word {
  font-size: 50px;
}

.translated-word {
  color: gray;
  font-size: 30px;
  margin: 0 20px;
}

.translated-box {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio-drop-and-record {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.audio-drop {
  transition: all 1s ease 0s;
  background-image: url('audio.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 150px;
  border: 2.5px dashed;
}

.audio-drop:hover {
  background-color: rgba(18, 115, 226, 0.25);
  border-color: rgb(18, 115, 226);
  cursor: pointer;
}

.audio-drop-text {
  text-align: center;
}

.record-stop-button {
  display: flex;
  flex-direction: row;
}

.recorded-audio-box {
  display: flex;
}

.related-sentences-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.related-sentences-box > h3 {
  margin: 10px 0 5px 0;
  border-bottom: 1px solid #ccc;
}

.related-sentences-box > ul {
  margin: 0;
}

.related-sentences {
  margin: 5px;
}

/*
 Saved Words
 */

.remove-saved-word-button {
  margin: 0 0 10px 30px;
}